<div id="loginWrap" class="move">
  <div id="login">
    <div class="centerofcenter">
      <h1 class="softgearBig wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
        <small>soft</small>
        <b>GEAR</b>
      </h1>

      <div class="list list-inset loginForm wow fadeInUp" data-wow-delay="2s">
        <h5 style="color:white;">방송 참여시 사용할 닉네임을 생성합니다.</h5>
        <label class="item item-input">
          <i class="xi-user"></i>
          <input type="text" ng-model="nick_name" placeholder="닉네임 입력">
        </label>

        <button class="button-royal button button-block button-small" ng-click="login()">
          <i class="xi-check"></i>
          다음페이지에서 약관을 살펴봅니다.
        </button>

      </div>
    </div>
  </div>
</div>
