<ion-view view-title="DID PLAYER" name="playerView">
  <ion-content overflow-scroll="false">
    <div id="splash" style="position:fixed; background-size:cover; background-position:center; top:0; left:0; width:100%; z-index:1000; background-image: url('./img/splash.png');height:100%;">
    </div>

    <div class="progress" ng-if="is_downloading">
        <p class="percent">{{progress}}%</p>
        <p class="total">downloading.. ({{down_cur+1}}/{{down_total}})</p>
    </div>
      <div ng-show="player.clock != 'N'" class="clock" ng-class="{'clock_top': player.clock == 'T', 'clock_mid': player.clock == 'M', 'clock_bot': player.clock == 'B'}">{{clock}}</div>
      <div id="player_area" class="fullheight" ng-include="'./templates/tpls/' + template_mode + '.html'" ng-attr-style="{{player.background ? 'background-image:url(' + player.background + ');' : undefined}}"></div>
  </ion-content>
</ion-view>
